.splash-container{

  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;

}

.splash-middle-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-logo{
  margin-top: 100px;
  border-radius: 999px;
  height: 350px;
  width: 750px;
  margin-bottom: 50px;
}

.btn-type1{
  font-size: 34px;
  border: none;
  border-radius: 12px;
  background-color: #3b3b3b;
  padding: 15px 50px;
  margin: 5px;
  color: rgb(194, 194, 194);
  cursor: pointer;
  transition: .7s;
}

.btn-type1:hover{
  color: white;
  transition: .7s;
  background-color: #55576f;
}

.login-cancel-btn{
  cursor: pointer;
  position: relative;
  top:-25px;
  left: 215px;
}
.nav-logo{
  height: 50px;
}
.splash-navbar-div{
  border: 1px solid red;
  height: 50px;
  padding-top: 10px;
  padding: 0px 200px;
  display: flex;
  justify-content: space-between;
}
