.sign-up-form-container{
  margin-top: 130px;
  background-color: rgb(32, 31, 31);
  width: 500px;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: 1px solid rgb(162, 162, 162);
}

.signup-master-container{
display: flex;
justify-content: center;
align-items: center;
}

.signup-logo{
  margin-top: 0px;
  width: 450px;
  border-bottom: 1px solid white;
}

.signup-form{
  margin-top: 20px;
}

.signup-input{
  width: 400px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 2px;
  border-radius: 4px;
  background-color: rgb(44, 44, 44);
  border: 2px solid rgb(50, 50, 50);
  color: white;
}

.signup-label{
  margin-bottom: 5px;

}

.signup-btn{
  margin-top: 30px;
  width: 410px;
  height: 35px;
  border: none;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #3a3c77 ;
  font-size: 18px;
  font-weight: bold;
  transition: .7s;
  color: rgb(29, 29, 29);
}

.signup-btn:hover{
  background-color: #797EFF;
  color: white;
  cursor: pointer;
  transition: .7s;
}
.errors-div-container{
  width: 410px;
  margin-bottom: 10px;
}

.error-message{
  background-color: rgba(255, 89, 89, 0.729);
  color: rgb(115, 1, 1);
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
  border: 1px solid rgb(140, 3, 3);
}


/* .create-task-textarea:focus {
  outline: none !important;
  border: 2px solid rgb(106, 240, 177);

} */

.signup-return{
  cursor: pointer;
  color: rgb(199, 199, 199);
  transition: .7s;
}
.signup-return:hover{
  color: white;
  transition: .7s;
}
