.comment-map-container{
  width: 460px;
}

.comment-card-container{
  width: 420px;
  border: 1px solid grey;
  padding: 3px;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.comments-parent-container{
  overflow-y: scroll;
  overflow-x: hidden;
}

.comment-text-container{
  width: 300px;
}

.comment-body-div{
  margin-bottom: 15px;
}

.comments-actions-btns{
  cursor: pointer;
  background-color: #2b2929;
  /* border: 1px rgb(151,151,151) solid; */
  border: 1px transparent solid;
  color: white;
  margin-left: 5px;
  border-radius: 4px;
  transition: .4s;
  padding: 4px 8px;
}

.comments-actions-btns:hover{
  border: 1px solid #1EEE67;
  color: #1EEE67;
  transition: .4s;
}
