.project-details-container{
  padding: 20px 0px 0px 50px;
  background-color: rgb(32, 32, 32);
  color: rgb(233, 233, 233);
  height: 95vh;
  width: 90%;
  /* position:relative; */
  /* position: absolute;
  top: 0px;
  left: 0px; */
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 25px;
}

.project-title-text{
  font-weight: bold;
  font-size: 40px;
  margin: 20px 0px;
}
.project-details-description-div{

  width: 40.5vw;
  overflow: none;
}

.project-details-description-text{
  word-break: break-all;
  font-size: 22px;
  font-style: italic;
  margin-bottom: 15px;
  color: rgb(215, 215, 215);
}
.task-grid{
  display: flex;
}

.grid-ele{
  border: 1px solid rgb(217, 217, 217);
  padding: 10px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-grid {
  width: 300px;
  height: 20px;
}

.description-grid{
  width: 600px;
}

.completed-grid{
  width: 50px;
  text-align: center;
}
.priority-grid{
  width: 100px;
  text-align: center;
}

.status-grid{
  width: 100px;
  text-align: center;
}
.date-grid{
  width: 150px;
  text-align: center;
}

.project-title-dropdown-div{
  display:flex;
  width: fit-content;
  align-items: center;
}

.drop-down-arrow-img{
  height: 30px;
}

.project-actions-dropdown-btn{
  border-radius: 999px;
  margin-left: 10px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.project-actions-dropdown-btn{
  background-color: transparent;
  border: none;
  width: 40px;
}


.drop-down-menu{
  background-color: white;
  color: black;
  position: relative;
  top: 55px;
  right: 34px;
  border-radius: 4px;
  width: 150px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-action-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}
.edit-project-btn{
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
}

.edit-project-btn:hover{
  background-color: rgb(205, 205, 205);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.delete-project-btn{
  color: red;
  height: 40px;
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  font-size: 18px;
}

.delete-project-btn:hover{
  background-color: rgb(205, 205, 205);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 18px;
}

.edit-task-btn{
  background-color: transparent;
  background-image: url(https://i.imgur.com/iiSVp7m.png);
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: .35s;
  border: none;
  cursor: pointer;
  color: transparent;
  padding-left: 40px;
  font-size: 0;

}

.edit-task-btn:hover{
  background-image: url(https://i.imgur.com/q3sqmL9.png);
  transition: .35s;
  transform: scale(1.2);
  color: white;
  font-size: 14px;
  margin-right: 25px;
}

.delete-task-btn{
  background-image: url(https://i.imgur.com/FCTixYd.png);
  background-color: transparent;
  background-size: 45px 45px;
  background-repeat: no-repeat;
  font-size: 0px;
  width: 40px;
  height: 40px;
  background-position: center;
  border: none;
  transition: .35s;
  cursor: pointer;
}

.delete-task-btn:hover{
  background-image: url(https://i.imgur.com/BSDQJw6.png);
  transition: .35s;
  color: white;
  font-size: 16px;

  animation: wiggle ;
  animation-duration: .7s;
  padding-left: 35px;
}

@keyframes wiggle {
  0%{
    transform: rotate(0deg)scale(1);
  }
  25%{
    transform: rotate(5deg) scale(1.1)
  }
  50%{
    transform: rotate(-5deg)scale(1.2);
  }
  75%{
    transform: rotate(-5deg)scale(1.1)
  }
  50%{
    transform: rotate(0deg)scale(1);
  }

}

#edit-project-description-err-div{
  font-size: 15px;
  display: flex;
  align-self: flex-end;
  color: red;
}

.completed-btn{
  background-color: transparent;
  border-radius: 999px;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

.completed-check-icon{
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.section-map-container{
  display: flex;

}
.section-card{
  /* border: 1px solid white; */
  width: 15vw;
  height: 50vh;
  margin: 5px;
}

.board-task-map-container{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.board-task-card{
  border: 1px solid white;
  border-radius: 20px;
  width: 14.2vw;
  height: 10vh;
  justify-self: center;
  align-self: center;
  margin: 5px 0px ;
  padding: 5px;
}

.project-view-btns{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: .4s;
}

.project-view-btns:hover{
  color: #1EEE67;
  border: #1EEE67 1px solid;
}

.section-title-edit{
  font-size: 24px;
  height: 30px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 10px 0px;
  border: none;
  margin: 9.5px 0px;
}
