
#sp-open{
  /* border: 1px solid red; */
  transform: translateX(0);
  transition: .7s;
}

#sp-close{

  transform: translateX(calc(20px - 100%));
  transition: .7s;
  /* border: 1px solid red; */
}

.sidebar-panel{
  width:250px;
  display: flex;
  flex-direction: column;
  background-color: rgb(12, 12, 12);
  color: white;
  /* position: absolute;
  top: 0px;
  left: 0px; */
  height: 101vh;
}


.sidepanel-project-list{
  list-style-type: square;
}


.sidepanel-project-card-link{
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  padding: 5px 0px;
  transition: .7s;
}
.sidepanel-project-card-link:hover{
  background-color: rgb(55, 55, 55);
}

.fa-square{
  margin-right: 5px;
  margin-left: 20px;
}

.sidepanel-toggle{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.home-btn{
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.home-btn:hover{
  background-color: rgb(45, 45, 45);
}

.home-icon{
  position: relative;
  top: 7px;
}

.sidebar-logo{
  width: inherit;
  margin-bottom: 20px;
}

.sign-out-btn{
  width: 100%;
  height: 35px;
  padding-bottom: 5px;
  border: none;
  background-color: transparent;
  color: rgb(182, 182, 182);
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  transition: .7s;
}

.sign-out-btn:hover{
  background-color: rgb(255, 60, 60);
  color: white;
}

#sp-project-details-container{
  display:flex;
}
